{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<!-- <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://assets.weforum.org/editor/RnDfH5X465zt6zMZOF5vmwXSjvIMakldWwe62vMIoOU.jpg"
                class="d-block w-100" style="height: 600px; width:auto;" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://www.pointfranchise.co.uk/images/zoom/disabled.jpg" class="d-block w-100"
                style="height: 600px; width:auto;" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static '/assets/job.jpg' %}" class="d-block w-100" style="height: 600px; width:auto;"
                alt="...">
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div> -->
<style>

  .Jobs{
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-around;
    
    margin-top: 20px;
  }
</style>

<!-- <div class="slideshow-container"  >

    <div class="mySlides fade">
      <img src="https://assets.weforum.org/editor/RnDfH5X465zt6zMZOF5vmwXSjvIMakldWwe62vMIoOU.jpg" style="width:max-content; height: 300px;" >
    </div>
    
    <div class="mySlides fade">
      <img src="https://www.pointfranchise.co.uk/images/zoom/disabled.jpg" style="width:max-content; height: 300px;">
    </div>
    
    <div class="mySlides fade">
      <img src="{% static '/assets/job.jpg' %}" style="width:max-content; height:300px;">
    </div>
    <br>
    
    <div style="text-align:center; margin-top: 0px; ">
      <span class="dot">  </span> 
      <span class="dot"> </span> 
      <span class="dot">  </span> 
    </div>
    </div> -->
    <h1 style="display: block;">Job Openings</h1>
    
    <div class="Jobs" style="display: flex;">
        
        
        
        {% for job in jobs %}
            <div class="col">
                <div class="card">
                    <!-- <img style="height: 50px; width: 50px; " src="https://www.accenture.com/in-en/careers/jobdetails/_jcr_content/root/container_main/container/joblistinghero/image.coreimg.svg/1686266251822/acc-gt-dimensional-purple-rgb-rev.svg" class="card-img-top mx-3 my-2" alt="..."> -->
                    <h3 class="domain mt-2" style="padding-left: 10px;">{{job.organization_name}}</h3>
                    <div class="card-body">
                        <h5 class="card-title">{{job.job_title}}</h5>
                        <h6 class="domain mt-2">Domain : </h6>
                        <p>Technology</p>
                        <h6 class="description mt-2">job Description :</h6>
                        <p class="card-text">{{job.job_description}}</p>
                        <h6 class="description mt-2">Openings :</h6>
                        <p class="card-text">{{job.openings}}</p>
                        <h6 class="location">Location : </h6>
                        <p>{{job.location}}</p>
                        <div class="text-center">
                            <a href="{% url 'candidate_login' %}">
                                <button type="button" class="btn btn-primary">Apply</button>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
    
    

<script>
    let slideIndex = 0;
    showSlides();
    
    function showSlides() {
      let i;
      let slides = document.getElementsByClassName("mySlides");
      let dots = document.getElementsByClassName("dot");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";  
      }
      slideIndex++;
      if (slideIndex > slides.length) {slideIndex = 1}    
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " active";
      setTimeout(showSlides, 2000); // Change image every 2 seconds
    }
    </script>
{% endblock %}
